<nav *ngIf="pages" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item" ng-model="pages">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<div class="page-movies">
  <h1 style="color: white;">{{status}}</h1>
  <div class="block-movies" style="display: inline-flex" *ngFor="let movie of movies">
    <div class="col-sm-12 col-lg-12 movies">
      <div class="around-img">
        <img id="img-movie" src="{{movie.medium_cover_image}}">
      </div>
      <div class="title-movie titles">{{movie.title}}</div>
      <div class="title-movie">{{movie.year}}</div>
    </div>
  </div>
</div>